form{
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    display: flow-root;
    padding: 15px;
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
div{
  margin-top: 10px;
}